name: Test Project
on: push
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Get code 
              uses: actions/checkout@v5
            - name: Install nodejs
              uses: actions/setup-node@v6
              with: 
                nodnode-version: 24
            - name: Install depedencies
              run: npm ci 
            - name: Run tests
              run: npm test   